.card {
  margin: 0;
  padding: $card-padding;
  width: $card-size;
  box-sizing: border-box;
  background-color: $main-bg-color;
  border-radius: $border-radius;
  border: 1px solid $neutral-grey-color;
  transition: transform 300ms;

  &:hover {
    transform: scale(1.2);
  }

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: $main-text-size;
    font-weight: 500;
    line-height: 18px;
    color: $main-text-color;
    margin-bottom: 4px;
    transition: color 300ms;

    .card:hover & {
      color: $text-hover-color;
    }
  }

  &__code {
    font-size: 10px;
    line-height: $line-height;
    color: $secondary-text-color;
  }

  &__rating {
    @include space-between;

    align-items: center;
    margin-top: 16px;
  }

  &__reviews {
    margin: 0;
    font-size: 10px;
    line-height: $line-height;
    color: $main-text-color;
  }

  &__price {
    @include space-between;

    margin-top: 24px;
  }

  &__text {
    font-size: $main-text-size;
    line-height: 18px;
    color: $secondary-text-color;
  }

  &__number {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $main-text-color;
  }

  &__button {
    @include center-flex;

    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    line-height: 16px;
    background-color: $blue-accent;
    color: $main-bg-color;
    text-transform: uppercase;
    border-radius: $border-radius;
    font-weight: 700;
    padding: 12px 0;
    margin-top: 16px;
    height: 40px;
    border: 1px solid $blue-accent;
    text-decoration: none;
    transition:
      background-color 300ms,
      color 300ms;

    &:hover {
      color: $blue-accent;
      background-color: $main-bg-color;
    }
  }
}
