.card {
  margin: 0;
  padding: $padding-mid $padding-sm $padding-sm;
  width: $card-size;
  box-sizing: border-box;
  background-color: $main-bg-color;
  border-radius: $border-radius;
  border: 1px solid $neutral-grey-color;
  transition: transform 300ms;

  &:hover {
    transform: scale(1.2);
  }

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: $card-image-margin;
  }

  &__title {
    font-size: $text-size-sm;
    font-weight: 500;
    line-height: $line-height-large;
    color: $main-text-color;
    margin-bottom: 4px;
    transition: color 300ms;

    .card:hover & {
      color: $text-hover-color;
    }
  }

  &__code {
    font-size: $text-size-xs;
    line-height: $line-height-main;
    color: $secondary-text-color;
  }

  &__rating {
    @include space-between;

    align-items: center;
    margin-top: $margin-top-sm;
  }

  &__reviews {
    margin: 0;
    font-size: $text-size-xs;
    line-height: $line-height-main;
    color: $main-text-color;
  }

  &__price {
    @include space-between;

    margin-top: 24px;
  }

  &__text {
    font-size: $text-size-sm;
    line-height: $line-height-large;
    color: $secondary-text-color;
  }

  &__number {
    font-size: $text-size-lg;
    line-height: $line-height-large;
    font-weight: 700;
    color: $main-text-color;
  }

  &__button {
    @include center-flex;

    box-sizing: border-box;
    font-size: $text-size-md;
    width: 100%;
    line-height: $line-height-mid;
    background-color: $blue-accent;
    color: $main-bg-color;
    text-transform: uppercase;
    border-radius: $border-radius;
    font-weight: 700;
    padding: 12px 0;
    margin-top: $margin-top-sm;
    height: $card-button-height;
    border: 1px solid $blue-accent;
    text-decoration: none;
    transition:
      background-color 300ms,
      color 300ms;

    &:hover {
      color: $blue-accent;
      background-color: $main-bg-color;
    }
  }
}
