// COLORS
$blue-accent: #00acdc;
$black-color: #000;
$main-bg-color: #fff;
$main-text-color: #060b35;
$secondary-text-color: #616070;
$neutral-grey-color: #f3f3f3;
$text-hover-color: #34568b;

// TEXTS
$font-family: Roboto, sans-serif;

// SIZES
$card-size: 200px;
